<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_iRates" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mondor.org/ces/rates.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_iRates" contract="CESRef.iRates"
                name="BasicHttpBinding_iRates" />
        </client>
    </system.serviceModel>
</configuration>